
.tictactoe-game {
    display: flex;
    justify-content: space-around;
}

.wrapper {
    width: 450px;
    text-align: center;
    font-family: 'Lacquer';
    font-size: 22px;
    margin: 30px;
}

.game-main {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell {
    border: 1px solid #ddd;
    font-size: 102px;
    padding: 10px;
}

button {
    font-size: 22px;
    padding: 10px;
    border: none;
    background: red;
    font-family: 'Lacquer';
    color: white;
}

button:hover {
    opacity: .8;
}

.score {
    margin: 30px;
    font-family: 'Lacquer';
    margin-top: 150px;
    text-align: center;
}

#game-score {
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 150px);
}


.score-display {
    border: 1px solid #ddd;
    font-size: 28px;
    padding: 30px;
    text-align: center;
}