
.wrapper {
    width: 450px;
    margin: auto;
    text-align: center;
    font-family: 'Lacquer';
    font-size: 22px;
}

.game-main {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.cell {
    border: 1px solid #ddd;
    font-size: 102px;
    padding: 10px;
}

button {
    font-size: 22px;
    padding: 10px;
    border: none;
    background: red;
    font-family: 'Lacquer';
    color: white;
}

button:hover {
    opacity: .8;
}